<!DOCTYPE HTML>
<html>
<head>
    <title> VCommute - code </title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.min.css'>
</head>
<body>
	<br>
    <br>
    <br>
	<div class='container'>
    <table align='center'>
        <tr>
            <td>
                 <form class="form-horizontal well" method="GET" action="/preference"> 
                		<legend>VCommute</legend>

                        <br>
					    <div class="control-group">
                            <label class="control-label" for="code">Code:</label>
                                <input type="text" id="code" name="code"></input>
				        </div>
                          <div class="control-group">
                                <div class="controls">
                                    <input type="submit" class="btn btn-primary" value="Submit"></input>
                                </div>
                        </div>
				       
                </form>
    
				   
			</td>
		</tr>
	</table>
</div>
</body>
</html>
