<!DOCTYPE HTML>
<html>
<head>
    <title> VCommute app </title>
    <style type="text/css">
            .myTable {
          table-layout: fixed;
          border-collapse: collapse;
          width: 100%;
          th: 20%;
                }
           

        
    </style>
    <link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.min.css'>
</head>
<script type="text/javascript" src="../javascripts/jquery-1.7.2.min.js"></script>




<script>
    var counter=0;
    var fromLocation;
    var toLocation;
    var startTime;

$(document).ready(function(){

 $.get('/getPreferenceDetails',function(data){
        //alert(data);
        varfromLocation=data.bind[0].fromLocation1;
        vartoLocation=data.bind[0].toLocation1;
                //alert(vartoLocation);

        startTime=data.bind[0].startTime;
         var location = varfromLocation+'_'+vartoLocation; 
     $.post('/getTimeandCount',{"location":location},function(data){

            $('#time > option').remove();
            // t1=data.bind[0].t09_00AM;
            // t="09:00AM("+t1+")";
            // alert(t1);
            // $('#time').append(new Option(t,"06:00AM")); 


            // for(var i=6;i<=12;i++)
            // {
            //     if(i<10)
            //     {
            //         var j="0"+i;
            //     }
            //     else
            //     { 
            //         var j=i;
            //     }

            //     if(i<12)
            //     {
            //         var time= j+":00AM";
            //         var time1 = "t" + time.replace(":","_");
            //         var temp="data.bind[0]."+ time1;
            //         var tempValue=time+"("+temp+")";
            //          $('#time').append(new Option(tempValue,time)); 
            //     }
            //     else
            //     {
            //         var time= j+":00PM";
            //         var time1 = "t" + time.replace(":","_");
            //         var temp="data.bind[0]."+time1;
            //         var tempValue=time+"(\"+"+temp+"+\")";
            //         $('#time').append(new Option(tempValue,time));

            //         alert(tempValue);

            //     }
                
            // }



            $('#time').append(new Option("06:00AM("+data.bind[0].t06_00AM+")","06:00AM"));  
            $('#time').append(new Option("07:00AM("+data.bind[0].t07_00AM+")","07:00AM")); 
            $('#time').append(new Option("08:00AM("+data.bind[0].t08_00AM+")","08:00AM")); 
            $('#time').append(new Option("09:00AM("+data.bind[0].t09_00AM+")","09:00AM")); 
            $('#time').append(new Option("10:00AM("+data.bind[0].t10_00AM+")","10:00AM")); 
            $('#time').append(new Option("11:00AM("+data.bind[0].t11_00AM+")","11:00AM")); 
            $('#time').append(new Option("12:00PM("+data.bind[0].t12_00PM+")","12:00PM")); 
            $('#time').val(startTime);
        });

     $.post('/getUserDetails',{"fromLocation":varfromLocation,"toLocation":vartoLocation,"time":startTime},function(data){
            if(counter>0)
            {
                for(var i=0;i<counter;i++)
                {
                    $("tr:last").remove();
                }
                counter=0;
            }
          for(var i =0;i<data.bind.length;i++)
          { 
                //alert('hi');
                // if($('#rdCar').is(':checked'))
                // {
                //     if(data.NoCar!=null)
                //     {
                //           $("table#myTable tr:last")
                // .after(getRowStr(data.bind[i])); 
                // counter = data.bind.length;

                //     }
                // }
                // if($('#rdNoCar').is(':checked'))
                // {
                //     // if(data.Car!=null)
                //     // {
                //           $("table#myTable tr:last")
                // .after(getRowStr(data.bind[i])); 
                // counter = data.bind.length;

                // //     }
                  

                // // }
                //   if($('#All').is(':checked'))
                // {
                    
                       
  

                // }
                   $("table#myTable tr:last")
                .after(getRowStr(data.bind[i])); 
                counter = data.bind.length;
            
          }  
        });
      $('#toLocation > option').remove();
      $('#fromLocation > option').remove();
      $.get('/fromLocationdetails',function(data){
         for(var i=0;i<data.bind.length;i++)
         {
            $('#fromLocation').append(new Option(data.bind[i],data.bind[i]));
         }
             $('#fromLocation').val(varfromLocation);

    });

   $.get('/toLocationdetails',function(data){
     for(var i=0;i<data.bind.length;i++)
     {
        $('#toLocation').append(new Option(data.bind[i],data.bind[i]));
     }
        $('#toLocation').val(vartoLocation);

  });
    });
 
   


     



  $('#time').change(function(){
    var toLoc = $("#toLocation  option:selected").text();
    var fromLoc = $("#fromLocation  option:selected").text();
    
     $.post('/getUserDetails',{"fromLocation":fromLoc,"toLocation":toLoc,"time":time.options[time.selectedIndex].value},function(data){
                if(counter>0)
                {
                    for(var i=0;i<counter;i++)
                    {
                        $("tr:last").remove();
                    }
                    counter=0;
                }
              for(var i =0;i<data.bind.length;i++)
              {
                $("table#myTable tr:last")
                    .after(getRowStr(data.bind[i])); 
                    counter = data.bind.length;
              }  
            });
  });
    $('#toLocation').change(function(){

        var toLoc = $("#toLocation  option:selected").text();
        var fromLoc = $("#fromLocation  option:selected").text();
        var location = fromLoc+'_'+toLoc;
       
        $.post('/getTimeandCount',{"location":location},function(data){

            $('#time > option').remove();
            $('#time').append(new Option("06:00AM ("+data.bind[0].t06_00AM+")","06:00AM"));
            $('#time').append(new Option("07:00AM ("+data.bind[0].t07_00AM+")","07:00AM"));
            $('#time').append(new Option("08:00AM ("+data.bind[0].t08_00AM+")","08:00AM")); 
            $('#time').append(new Option("09:00AM ("+data.bind[0].t09_00AM+")","09:00AM")); 
            $('#time').append(new Option("10:00AM ("+data.bind[0].t10_00AM+")","10:00AM")); 
            $('#time').append(new Option("11:00AM ("+data.bind[0].t11_00AM+")","11:00AM")); 
            $('#time').append(new Option("12:00PM ("+data.bind[0].t12_00PM+")","12:00PM"));  
            $('#time').val('09:00AM');
     
        });
        //var time = $("#time  option:selected").text();

        $.post('/getUserDetails',{"fromLocation":fromLoc,"toLocation":toLoc,"time":time.options[time.selectedIndex].value},function(data){
            //alert(counter);
              if(counter>0)
              {
                for(var i=0;i<counter;i++)
                {
                    $("tr:last").remove();
                }
                 counter=0;
              }
              for(var i =0;i<data.bind.length;i++)
              {
                $("table#myTable tr:last")
                    .after(getRowStr(data.bind[i])); 
                    counter = data.bind.length;
              }  
            

            });
    });


    $('#fromLocation').change(function(){

        var toLoc = $("#toLocation  option:selected").text();
        var fromLoc = $("#fromLocation  option:selected").text();
        var location = fromLoc+'_'+toLoc;
        var exe=0;

        $.post('/getTimeandCount',{"location":location},function(data){
            $('#time > option').remove();

            $('#time').append(new Option("06:00AM ("+data.bind[0].t06_00AM+")","06:00AM"));
            $('#time').append(new Option("07:00AM ("+data.bind[0].t07_00AM+")","07:00AM"));
            $('#time').append(new Option("08:00AM ("+data.bind[0].t08_00AM+")","08:00AM")); 
            $('#time').append(new Option("09:00AM ("+data.bind[0].t09_00AM+")","09:00AM")); 
            $('#time').append(new Option("10:00AM ("+data.bind[0].t10_00AM+")","10:00AM")); 
            $('#time').append(new Option("11:00AM ("+data.bind[0].t11_00AM+")","11:00AM")); 
            $('#time').append(new Option("12:00PM ("+data.bind[0].t12_00PM+")","12:00PM"));  
            $('#time').val('09:00AM');

        $.post('/getUserDetails',{"fromLocation":fromLoc,"toLocation":toLoc,"time":time.options[time.selectedIndex].value},function(data){
            if(counter>0)
            {
                for(var i=0;i<counter;i++)
                {
                    $("tr:last").remove();
                }
                counter=0;
            }
              for(var i =0;i<data.bind.length;i++)
              {

                $("table#myTable tr:last")
                    .after(getRowStr(data.bind[i])); 
                    counter = data.bind.length;


               }  
            });            
        });
    });
});

function getRowStr(data) {
    var preference=null;
             if(data.NoCar!=null)
            {
                preference = data.NoCar;
            }
           if(data.Car!=null)
            {
                if(preference!=null)
                {
                    preference = preference + ' , ' + data.Car;
                }
                else
                {
                    preference = data.Car;
                }
               
            }
           if(data.DriveDays!=null)
            {
                if(preference!=null)
                {
                    preference = preference + ' , '+ data.DriveDays;
                }
                else
                {
                     preference = data.DriveDays;

                }
                
            }
           if(data.DriveWeek!=null)
            {
                if(preference!=null)
                {
                    preference = preference +' , '+ data.DriveWeek;
                }
                else
                {
                     preference = data.DriveWeek;

                }
            }

            return '<tr><td><input type=\"checkbox\"></input><td><input type=\"image\" src=\"'
                    +data.avatars.square70
                    +'\"></input></td><td>' 
                    + data.name
                    + '</td><td>' 
                    + data.contact_info.cell_phone 
                    + '</td><td>' 
                    + data.contact_info.email 
                    + '</td><td>' 
                    // + data.fromLocation1
                    // + '</td><td>' 
                    // + data.toLocation1
                    // + '</td><td>' 
                    // + data.startTime
                    // + '</td><td>' 
                    + preference
                    + '</td></tr>';
        }


</script>

<body>
	<br>

    <br>
     <br>
	<div class='container'>
    <table align='center'>
        <tr>
            <td>
                <div align="right">
                 <a class="btn btn-success" href="/logout">Log out</a>
              </div>
                		<legend>VCommute </legend>

            
                 <div class="controls" align="left">
                 <a class="btn btn-success" href="/preference">Profile</a>
                </div>


                <br>
                <br>


                        <table>
                            <tr>
                                <td>
                                    <label class="control-label" id="lblid1" for="fromLocation">From Location</label>
                                </td>
                                <td>
                                    <label class="control-label" id="lblid2" for="toLocation">To Location</label>
                                </td>
                                <td>
                                    <label class="control-label"  for="time">Time</label>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select id="fromLocation" name="fromLoc"> 
                                    </select>
                                </td>
                                <td>
                                   <select id="toLocation" name="toLoc">    
                                    </select>
                                </td>
                                <td>
                                    <select id="time" size="7" name="time">
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                  <td>
                                    <label class="checkbox">
                                    <input type="radio" id="rdAll" name="car" checked="true" value="All">
                                        All
                                     </label>
                            
                                </td>
                                <td>
                                    <label class="checkbox">
                                    <input type="radio" id="rdCar" name="car" value="Car ">
                                        Car Owners
                                     </label>
                            
                                </td>
                                <td>
                                    <label>
                                     <input type="radio" id="rdNoCar" name="car" value="NoCar"> Passengers
                                    </label>

                                </td>
                            </tr>
                        </table>
                        <br>
                        

                        <table id='myTable' border="1" align='center'>
                        <thead><tr><th> </th><th>Image</th><th>Name</th><th>Mobile No</th><th>Email</th><!-- <th>From Location</th><th>To Location</th><th>start Time</th> --><th>Preference</th></tr></thead>
                        </table>
                        <br>

                         <div align="right">
                                <input type="submit" class="btn btn-primary" id="btnSend" value="Send"></input>
                        </div>
                        <br>
                        <br>
                                       

            </td>
        </tr>
    </table>
</div>
</body>
</html>
