<!DOCTYPE HTML>
<html>
  <head>
      <title> VCommute - Preference </title>
      <link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.min.css'>
  </head>
  <script type="text/javascript" src="../javascripts/jquery-1.7.2.min.js"></script>
  <script type="text/javascript">

    $(document).ready(function(){
        var loc = new Array();

        var loc1 = new Array();
        var startTime = new Array();
        var totime = new Array();


        $.get('/toLocation',function(data){
          loc = data.bind[0].Loc.split(',');
          loc1 = data.bind[0].Loc1.split(',');

          startTime = data.bind[0].FromTime.split(',');
          returnTime = data.bind[0].ToTime.split(',');

          $('#toLocation1 > option').remove();
          $('#fromLocation2 > option').remove();
          for(var i=0;i<loc.length;i++)
          {           
            $('#toLocation1').append(new Option(loc[i],loc[i]));
            $('#fromLocation2').append(new Option(loc[i],loc[i]));
          }
           $('#toLocation2 > option').remove();
          $('#fromLocation1 > option').remove();
          for(var i=0;i<loc1.length;i++)
          {           
            $('#toLocation2').append(new Option(loc1[i],loc1[i]));
            $('#fromLocation1').append(new Option(loc1[i],loc1[i]));
          }

          $('#startTime > option').remove();
          for(var i=0;i<startTime.length;i++)
          {
            $('#startTime').append(new Option(startTime[i],startTime[i]));
            $('#startTime').val('09:00AM');
          }
           $('#returnTime > option').remove();
          for(var i=0;i<returnTime.length;i++)
          {
            $('#returnTime').append(new Option(returnTime[i],returnTime[i]));
            $('#returnTime').val('05:00PM');
          }

           $.get('/getuserProfile',function(data){

        $('#lblName').text(data.bind[0].name);
        $('#txtMobile').val(data.bind[0].contact_info.cell_phone);
        $('#imgPic').attr("src",data.bind[0].avatars.square70);
        $('#lblTitle').text(data.bind[0].title);
        $('#txtlocation').val(data.bind[0].contact_info.location);

        if(data.bind[0].profile==1)
        {
            $('#fromLocation1').val(data.bind[0].fromLocation1);
            $('#fromLocation2').val(data.bind[0].fromLocation2);
            $('#toLocation1').val(data.bind[0].toLocation1);
            $('#toLocation2').val(data.bind[0].toLocation2);
            $('#startTime').val(data.bind[0].startTime);
            $('#returnTime').val(data.bind[0].departTime);
                    
            $('#txtTemp').attr("value",data.bind[0].fromLocation1+"_"+data.bind[0].toLocation1+","+data.bind[0].fromLocation2+"_"+data.bind[0].fromLocation2);

          $('#txtTemptime').attr("value",data.bind[0].startTime+","+data.bind[0].departTime);
            

            //alert($('#txtTemp').attr("value"));
            if(data.bind[0].Car==null)
            {
              $('#rdNoCar').attr("checked",true);
            }
            else
            {
              $('#rdCar').attr("checked",true);

            }
            if(data.bind[0].DriveDays!=null)
            {
              $('#chkDriveDays').attr("checked",true);

            }
             if(data.bind[0].DriveWeek!=null)
            {
              $('#chkDriveWeek').attr("checked",true);

            }
            if(data.bind[0].Hide==1)
            {
              $('#chkHide').attr("checked",true);

            }

        }

        
        });
          
     });


       


  $('#fromLocation1').change(function(){
    $('#toLocation2').val((fromLocation1.options[fromLocation1.selectedIndex].text));
  });
  $('#toLocation1').change(function(){
    $('#fromLocation2').val((toLocation1.options[toLocation1.selectedIndex].text));
  });
    });
</script>

  <body>
    <br>
    <br>
    <br>
    <div class='container'>
      <table align='center'>
        <tr>
          <td>
            <form class="well form-inline" method="POST" action="/saveProfile">
              <div align="right">
                 <a class="btn btn-success" href="/logout">Log out</a>
              </div>
              <legend>VCommute</legend>  
              <legend>Preference </legend>
             

              <div class="control-group">
                <table>
                  <tr>
                    <td rowspan="2">
                       <input type="image" id="imgPic" name="name"></input>
                    </td>
                    <td>
                       <label class="control-label" id="lblName"></label>
                    </td>
                  </tr>
                    <tr>
                      <td>
                         <label class="control-label" id="lblTitle"></label>
                      </td>
                  </tr>

              
                </table>
                <br>
                
                 <label class="control-label" for="mobile">Mobile No:</label>
                  <input type="text" id="txtMobile" name="mobile"></input>
                  <label class="control-label" for="location">Location</label>
                  <input type="text" id="txtlocation" name="location"></input>
                <table>
                  <tr>
                      <td>
                         <legend>Onward Journey </legend>
                      </td>
                  </tr>
                  <tr>
                        <td>
                            <label class="control-label" id="lblLocation" for="fromLoc">From Location</labe>
                        </td>
                        <td>
                             <label class="control-label" for="toLocation">To Location</label>
                        </td>
                        <td>
                            <label class="control-label" for="startTime">Start Time</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                             <select id="fromLocation1" name="fromLocation1">
                             </select>  
                        </td>
                        <td>
                             <select id="toLocation1" name="toLocation1">
                             </select>                  
                        </td>
                        <td>
                              <select id="startTime" name="startTime">                         
                              </select>
                        </td>
                    </tr>
                    <tr>
                      <td>
                         <legend>Return Journey </legend>
                      </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="control-label" id="lblLocation" for="fromLoc">From Location</label>
                        </td>
                        <td>
                             <label class="control-label" for="toLocation">To Location</label>
                        </td>
                        <td>
                            <label class="control-label" for="startTime">Start Time</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <select id="fromLocation2" name="fromLocation2">
                             </select> 
                            
                        </td>
                        <td>
                             <select id="toLocation2" name="toLocation2">
                             </select>                 
                        </td>
                        <td>
                              <select id="returnTime" name="returnTime">                         
                              </select>
                        </td>
                    </tr>
                        <td>

                            <!-- do it -->
                             <input type="hidden" id="txtTemp" name="temp"></input>
                            <input type="hidden" id="txtTemptime" name="temptime"></input>


                        </td>
                    <tr>
                    </table>
                </div>
                     <fieldset>
                    <div class="control-group">
                         
                           
                        
                        <br>
                        <br>
                            <label class="checkbox">
                            <input type="radio" id="rdCar" name="car" value="Car">
                                 Car Owner
                            </label>
                            <label>
                             <input type="radio" id="rdNoCar" name="car" value="NoCar">
                                 Passenger
                            </label>
                               
                        </div>
                    </fieldset>
                    <fieldset>
                     <div class="control-group">
                         <label class="checkbox">
                           
                               
                        </div>
                    </fieldset>
                     <fieldset>
                     <div class="control-group">
                         <label class="checkbox">
                            <input type="checkbox" id="chkDriveDays" name="chkDriveDays" value="I like to drive alternate days">
                                 I like to drive alternate days
                            </label>
                               
                        </div>
                    </fieldset>

                     <fieldset>
                     <div class="control-group">
                         <label class="checkbox">
                            <input type="checkbox" id="chkDriveWeek" name="chkDriveWeek" value="I like to drive alternate weeks">
                                 I like to drive alternate weeks
                            </label>
                               
                        </div>
                    </fieldset>

                     <fieldset>
                     <div class="control-group">
                         <label class="checkbox">
                            <input type="checkbox" id="chkHide" name="hide" value="1">
                                Hide me from search results
                              </label>
                               
                        </div>
                    </fieldset>
                      <br>
                      <br>
                      
                     <fieldset>
                                <div class="control-group error">
                                     <label><strong> <%= errorText %> <label><strong>
                                </div>
                        </fieldset>

                        <br>

                        <fieldset>
                             <div class="controls">
                                <input type="submit" class="btn btn-primary" id="btnsave" value="Save and Continue"></input>
                             </div>
                              
                        </fieldset>
                        <fieldset>
                            <br> 
                                <div class="control-group">
                                </div>
                        </fieldset>
        </td>
      </tr>
    </table>
 </form>
</body>
</html>
