<!DOCTYPE HTML>
<html>
<head>
    <title>VCommute sign up </title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.min.css'>
</head>
<body>
    <div class='container'>
    <table align='center'>
        <tr>
            <td>
                 <form class="form-horizontal well" method="POST" action="/register"> 
                        <legend>VCommute</legend>
                        <table>
                            <tr>
                                <div class="control-group">
                                    <td>
                                        <label class="control-label" for="emailID">Email ID:</label>
                                    </td>
                                   
                                    <td>
                                         <input type="text" id="emailID" name="emailID"></input>

                                     </td>
                                      
                                     <td>
                                         <label for="user">@vmware.com</label>
                                     </td>
                                </div>
                            </tr>
                        </table>
                        <br>
                        <div class="control-group">
                            <label class="control-label" for="password">Password:</label>
                                <input type="password" id="password" name="password"></input>
                        </div>
                        <br>  
                        <div class="control-group">
                            <label class="control-label" for="password">Confirm Password:</label>
                                <input type="password" id="password" name="confirmpassword"></input>
                        </div>
                        <div class="control-group">
                                <div class="controls">
                                    <input type="submit" class="btn btn-primary" id="signup" value="Sign up"></input>
                                </div>
                        </div>
                        <br>  
                       <fieldset>
                                <div class="control-group error">
                                    <label><strong> <%= errorMsg %> </strong></label>
                                </div>
                        </fieldset>                    
                </form>    
                   
            </td>
        </tr>
    </table>
</div>



</body>
</html>
